<h5>Cruscotto commesse installate</h5>

<div>
In questa schermata vengono presentate tutte le commesse in stato workflow "Installata presso Cliente (SAT)".
</div>

<div style="text-align:right; margin-top:10px">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Filtra per commessa...." [(ngModel)]="filtroCommessa" (change)="filtra()">
    </mat-form-field>
</div>
<div style="margin-top:10px">
<table mat-table [dataSource]="dataSource" class="contentTable mat-elevation-z8">

    <ng-container matColumnDef="commessa">
        <th mat-header-cell *matHeaderCellDef> Commessa </th>
        <td mat-cell *matCellDef="let element" [title]="element.DES_COMMESSA || ''"> {{ element.COD_COMMESSA }} </td>
    </ng-container>
    <ng-container matColumnDef="divisione">
        <th mat-header-cell *matHeaderCellDef> Divisione </th>
        <td mat-cell *matCellDef="let element" [title]="element.DES_DIVISIONE || ''"> {{ element.COD_DIVISIONE }} </td>
    </ng-container>
    <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element" [title]="element.COD_CLIENTE || ''"> {{ element.CLI_RA_SOC }} </td>
    </ng-container>
    <ng-container matColumnDef="fatturato">
        <th mat-header-cell *matHeaderCellDef class="importi"> Tot. Fatturato </th>
        <td mat-cell *matCellDef="let element" class="importi"> {{ element.TOT_FATTURATO|number:'1.2' }} </td>
    </ng-container>
    <ng-container matColumnDef="contoTransitorio">
        <th mat-header-cell *matHeaderCellDef> Conto transitorio </th>
        <td mat-cell *matCellDef="let element" [title]="element.DES_CONTO_TRANSITORIO || ''"> {{ element.CONTO_TRANSITORIO }} </td>
    </ng-container>
    <ng-container matColumnDef="saldoTr">
        <th mat-header-cell *matHeaderCellDef class="importi"> Saldo conto transitorio </th>
        <td mat-cell *matCellDef="let element" class="importi"> {{ element.SALDO_CONTO_TRANSITORIO|number:'1.2' }} </td>
    </ng-container>
    <ng-container matColumnDef="contoRicavi">
        <th mat-header-cell *matHeaderCellDef> Conto ricavi </th>
        <td mat-cell *matCellDef="let element" [title]="element.DES_CONTO_RICAVI || ''"> {{ element.CONTO_RICAVI}} </td>
    </ng-container>
    <ng-container matColumnDef="saldoRicavi">
        <th mat-header-cell *matHeaderCellDef class="importi"> Saldo conto ricavi </th>
        <td mat-cell *matCellDef="let element" class="importi"> {{ element.SALDO_CONTO_RICAVI|number:'1.2' }} </td>
    </ng-container>
    <ng-container matColumnDef="warning">
        <th mat-header-cell *matHeaderCellDef> Esito validazione </th>
        <td mat-cell *matCellDef="let element"> {{ warnings[element.TIPO-1] }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Azioni </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="analisi(element)">Analisi</button><br/>
            <button *ngIf="utentePrivilegiato && element.TIPO==1" mat-raised-button color="warn"
                (click)="avanzamentoWorkflow(element)"
                >Avanzamento WF</button>
            <button *ngIf="utentePrivilegiato && element.TIPO!==1" mat-raised-button color="warn"
                (click)="giroconto(element)"
                [disabled]="element.TIPO>=4"
                [title]="element.TIPO>=4 ? 'Prima occorre risolvere le anomalie in Panthera': ''"
                >Giroconto</button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>